@* file gemaakt door Jesse *@
@page
@model KE03_INTDEV_SE_1_Base.Pages.Categorieën
@{
    ViewData["Title"] = "Matrix Inc";
}

<div>
    <h3>CATEGORIEËN</h3>

    <div class="category-grid">

        <div class="category-card">
            <a asp-page="/Producten">
                <div class="category-image">
                    <img src="https://aleatori.cat/random?x=1"
                         alt="Licht"
                         class="category-image">
                </div>

                <div class="category-content">
                    <h3>licht</h3>
                    <p>Moderne lichten.</p>
                </div>
            </a>

        </div>

        <div class="category-card">
            <a asp-page="/Producten">
                <div class="category-image">
                    <img src="https://aleatori.cat/random?x=2"
                         alt="Beveiliging"
                         class="category-image">
                </div>

                <div class="category-content">
                    <h3>Beveiliging</h3>
                    <p>Pmechaniche producten voor jouw bescherming.</p>
                </div>
            </a>

        </div>

        <div class="category-card">
            <a asp-page="/Producten">
                <div class="category-image">
                    <img src="https://aleatori.cat/random?x=3"
                         alt="Batterijen"
                         class="category-image">
                </div>

                <div class="category-content">
                    <h3>Batterijen</h3>
                    <p>Alle soorten batterijen die je nodig kan hebben.</p>
                </div>
            </a>

        </div>

        <div class="category-card">
            <a asp-page="/Producten">
                <div class="category-image">
                    <img src="https://aleatori.cat/random?x=4"
                         alt="Auto onderdelen"
                         class="category-image">
                </div>

                <div class="category-content">
                    <h3>Auto onderdelen</h3>
                    <p>Auto onderdelen voor reparatie.</p>
                </div>
            </a>

        </div>

    </div>
</div>
