@page
@model IndexModel
@{
    ViewData["Title"] = "Matrix Inc";
}

<div class="matrix-page">

    <!--BIG SECTION -->
    <section class="hero-section">

        <div class="hero-overlay"></div>

        <div class="hero-content">

            <h1>MATRIX INC</h1>

            <p>
                One place for all your mechanical parts.
            </p>

            <a class="hero-btn" asp-page="/Products">
                SHOP NU
            </a>

        </div>

    </section>

    <!-- CATEGORY SECTION -->
    <section class="category-section">
        <div class="section-header">
            <h2>CATEGORIEËN</h2>
            <a class="show-all" asp-page="/Categorieën">Toon alles</a>
        </div>

        <div class="category-grid">

            <div class="category-card">

                <a asp-page="/Producten">
                    <div class="category-image">
                        <img src="https://aleatori.cat/random"
                             alt="Licht"
                             class="category-image">

                    </div>

                    <div class="category-content">
                        <h3>licht</h3>
                        <p>Moderne lichten.</p>
                    </div>
                </a>

            </div>

            <div class="category-card">

                <a asp-page="/Producten">
                    <div class="category-image">

                        <img src="https://aleatori.cat/random"
                             alt="Beveiliging"
                             class="category-image">


                    </div>

                    <div class="category-content">
                        <h3>Beveiliging</h3>
                        <p>Pmechaniche producten voor jouw bescherming.</p>
                    </div>

                </a>
            </div>

            <div class="category-card">

                <a asp-page="/Producten">
                    <div class="category-image">

                        <img src="https://aleatori.cat/random"
                             alt="Batterijen"
                             class="category-image">

                    </div>

                    <div class="category-content">
                        <h3>Batterijen</h3>
                        <p>Alle soorten batterijen die je nodig kan hebben.</p>
                    </div>
                </a>

            </div>

            <div class="category-card">

                <a asp-page="/Producten">
                    <div class="category-image">

                        <img src="https://aleatori.cat/random"
                             alt="Auto onderdelen"
                             class="category-image">

                    </div>

                    <div class="category-content">
                        <h3>Auto onderdelen</h3>
                        <p>Auto onderdelen voor reparatie.</p>
                    </div>

                </a>
            </div>

        </div>

    </section>

    <!-- PRODUCTS -->
    <section class="products-section">

        <div class="section-header">
            <h2> VEEL VERKOCHTE PRODUCTEN</h2>
        </div>

        <div class="products-grid">

            @foreach (var c in Model.Customers)
            {
                <div class="product-card">

                    <div class="product-image">
                        <a href="https://aleatori.cat/random" target="_blank">

                            <img src="https://aleatori.cat/random"
                                 alt="product"
                                 class="category-image">

                        </a>
                    </div>

                    <div class="product-content">

                        <h3>@c.Name</h3>

                        <p>
                            Mechanische componenten
                        </p>

                        <div class="product-bottom">

                            <div class="product-price">
                                @c.Orders.Count Orders
                            </div>

                            <a class="product-btn" href="#">
                                BEKIJEKN
                            </a>

                        </div>

                    </div>

                </div>
            }

        </div>

    </section>

    <!-- PROMOTION SECTION -->
    <section class="promo-section">

        <div class="promo-box">

            <div class="promo-text">

                <h2>TIJDELIJKE DEALS</h2>

                <p>
                    Ontdek de beste deals voor jouw onderdelen.
                </p>

            </div>

            <a class="promo-btn" asp-page="/Products">
                ONTDEKKEN
            </a>

        </div>

    </section>

</div>