@* file gemaakt door Jesse *@
@page
@model IndexModel
@{
	ViewData["Title"] = "Wishlist";
}
<div>
	<h3>Wishlist</h3>
</div>
<div class="lists-page">

    <div class="lists-header">
        <h1>Lijstjes</h1>

        <a href="#" class="new-list-btn">
            <span>＋</span>
            Nieuw lijstje
        </a>
    </div>

    <div class="wishlist-card">

        <div class="wishlist-image-grid">
            <div class="wishlist-image large">
                <img src="https://cataas.com/cat?width=300&height=300" alt="Product">
            </div>

            <div class="wishlist-side-images">
                <div class="wishlist-image small">
                    <img src="https://cataas.com/cat?width=160&height=160" alt="Product">
                </div>

                <div class="wishlist-image small">
                    <img src="https://cataas.com/cat?width=160&height=160" alt="Product">
                </div>
            </div>
        </div>

        <div class="wishlist-content">
            <h3>Mijn verlanglijstje</h3>
            <p>4 artikelen · Privé</p>
        </div>

    </div>

</div>